body {
display: flex;
align-items: center;
justify-content: center;
background-color: #efefef;
}

.poker_table {
    position: relative;
    width:40vw;
    height:40vw;
    border-radius: 50%;
    border:10px solid #000;
    display:flex;
    justify-content: center;
    align-items: center;
}

.felt {
  background-image: url('./img/green-felt.jpg');
  background-repeat: no-repeat;
  background-size:cover;

}

.poker_table > div {
  position:relative;
  height:114%;
}

.player {
position: absolute;
display: flex;
flex-flow:column;
justify-content: flex-start;
align-items: center;
/* background-color: lightblue; */
border-radius: 50%;
width: 100%;
height: 100%;
}
